*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: #141414;
}

#background {
    width: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 85%;
}

.topbar {
    position: absolute;
    display: flex;
    top: 0px;
    margin-top: 20px;
    margin-left: 50px;
}

.topLeft{
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.topLeft p {
    margin-left: 30px;
    color: white;
    font-weight: bold;
}

.topRight {
    margin-left: 750px;
    align-items: center;
}

#fea {
    margin-left: 10px;
}

#logo {
    width: 120px;
}

.mainImg {
    position: absolute;
    top: 400px;
    margin-left: 50px;
}

.nShow{
    display: flex;
    align-items: center;
}

.nShow p{
    height: fit-content;
    color: white;
    font-weight: bold;
}

#Nicon {
    width: 20px;
    padding-right: 10px;
}

.title {
    color: white;
    font-size: 90px;
    font-weight: bold;
}


.play {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    background-color:white;
    margin-right: 15px;
}

.play_more {
    display: flex;
}
.play img {
    width: 15px;
}

.moreInfo {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(189, 194, 189, 0.3);
}

.moreInfo p {
    color: white;
}

.seeAgain{
    margin-left: 50px;
    margin-top: 10px;
}

.SAtext {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

.SAtext img {
    margin-left: 3px;
    width: 18px;
    height: 15px;
}

.SAshows img {
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 40px;
}


.TopTen{
    margin-top: 10px;
}

.TTtext {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    display: flex;
    align-items: center;
    color: white;
}

.TTtext img {
    margin-left: 3px;
    width: 18px;
    height: 15px;
}

.TTshows {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.Trend{
    margin-left: 50px;
    margin-top: 10px;
}

.trendText {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

.trendText img {
    margin-left: 3px;
    width: 18px;
    height: 15px;
}

.trendShows img {
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.Sci-fi{
    margin-left: 50px;
    margin-top: 10px;
}

.SFtext {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

.SFtext img {
    margin-left: 3px;
    width: 18px;
    height: 15px;
}

.sci-fi_Show img {
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 40px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

footer p {
    color: gray;
}

.icons img {
    opacity: 50%;
    margin-bottom: 15px;
}

#button {
    border: 2px solid gray;
    width: fit-content;
    padding: 6px;
}

.con2 {
    margin-top: 40px;
}

.con3 {
    margin-top: 40px;
}

.con4 {
    margin-top: 40px;
}